 DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/team14_mental_health"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-here"
AWS_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
S3_BUCKET_NAME="team14-mental-health-resources"