# dependencies
node_modules/
frontend/node_modules/

# next.js
frontend/.next/
frontend/out/

# env
.env*
!frontend/.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
frontend/.vercel
*.tsbuildinfo
frontend/next-env.d.ts
