# dependencies — ignore ALL node_modules folders
node_modules/
**/node_modules/

# next.js build
.next/
**/.next/
out/
**/out/

# env (keep example only)
.env
.env.local
.env*.local
!frontend/.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
.pnpm-debug.log*
**/.vercel
*.tsbuildinfo
**/next-env.d.ts

# yarn
.pnp
.pnp.*
